<div>
  <h2>Create a Content</h2>

  <%= form_for(@content) do |form| %>
    
    <%= render(partial: 'form', locals: {form: form}) %>
    <div class="form-buttons">
      <%= form.submit('Create content') %>
    </div>
  <% end %>
</div>